body {
  background-color: grey;
  color: black;
}

#button1 {
  background-color: #CD5C5C;
  color: black;
}

#button2 {
  background-color: #CD5C5C;
  color: black;
}

#button3 {
  background-color: #CD5C5C;
  color: black;
}
